.footerhide {
	border-top: 4px dotted $mainContrast;
	text-align: center;
	font-family: 'Cutive Mono', monospace;
	margin: 50px 0 10px;
	letter-spacing: 3px;
}

.footerflex {
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
}

.footerflex a {
	text-decoration: underline;
	color: $mainContrast;
}

.space {
	width: 2px;
	background-color: $mainContrast;
}

